[pull]
	rebase = true
[user]
	name = Bas Bossink
	email = {{ .email | quote}}
[init]
	defaultBranch = main
[core]
	editor = kibi
	pager = delta
	trustctime = false
	filemode = false
	autocrlf = false
[delta]
	line-numbers = true
	side-by-side = true
	syntax-theme = zenburn
[diff]
	tool = meld
[difftool]
	prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
	tool = meld
[mergetool]
	keepBackup = false
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[alias]
	br = branch
	bre = branch --edit-description
	ci = commit
	cl = clone
	co = checkout
	cp = cherry-pick
	dc = diff --cached
	df = diff
	dt = difftool
	fff = flow feature finish
	ffp = flow feature publish
	ffs = flow feature start
	fp = fetch --prune
	frf = flow release finish
	frp = flow release publish
	frs = flow release start
	last = log -1 HEAD
	lg = log --graph --abbrev-commit --decorate --date=relative --all --oneline --no-color
	mt = mergetool
	pl = pull
	ps = push
	psf = push --force-with-lease
	root = rev-parse --show-toplevel
	st = status
	sup = submodule update
	tg = tag --sort=-creatordate --format='%(creatordate:short):  %(refname:short)'
	tgc = tag --sort=-creatordate --format='%(creatordate:short):  %(refname:short)' --contains
	unco = checkout
	unstage = reset HEAD --
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[gui]
	editor = neovide
[fetch]
	writeCommitGraph = true
