layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="1: git" {
        pane command="lazygit" cwd="/home/bas/ds/code/td/00-tandemdrive"
    }
    tab name="2: work"
    tab name="3: run"
    tab name="4: notes"
    tab name="5: dashboard" {
        pane command="wtfutil"
    }
    tab name="6: mitmproxy" {
        pane command="mitmproxy"
    }
    tab name="7: "
    tab name="8: "
}
