layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    tab name="git" {
        pane command="lazygit" cwd="/home/bas/ds/code/td/00-tandemdrive"
    }
    tab name="work"
    tab name="run"
    tab name="notes"
    tab name="dashboard" {
        pane command="wtfutil"
    }
    tab name="mitmproxy" {
        pane command="mitmproxy"
    }
}
